<div class="aip-public-call-list">
  {{ $hasPublicCall := false }}
  {{ range .Site.Pages }}
    {{ if in .Params.Status "Public Call" }}
      {{ $hasPublicCall = true }}
    {{ end }}
  {{ end }}
  <h3>Current <span class="aip-status public-call">Public Calls</span></h3>
  {{ if $hasPublicCall }}
    {{ range .Site.Pages }}
      {{ if in .Params.Status "Public Call" }}
        {{ partial "aip-list-item" . }}
      {{ end }}
    {{ end }}
  {{ else }}
    <p>No AIP is currently for Public Call</p>
  {{ end }}
</div>